/* src/components/CompanyForm.css */


.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100vw;           /* full viewport width */
  height: 100vh;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 100vh;
  position: relative;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

