/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar a {
  color: white;
  margin: 0 15px;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #ddd;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
